/**
 *     FUSAM
 *  Copyright (C) 2023  Sid
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

#fusam-show-button {
	position: absolute;
	top: 0;
	right: 50%;
	transform: translateX(50%);
}

.button {
	padding: 0.5em 1em;
	border-radius: 0;
	border: 2px solid black;
	background-color: white;
	color: black;
	/* font-weight: bold; */
	font-size: 2vmin;
}

.button:hover,
.button:focus,
select:hover,
select:focus {
	background-color: #00ffff;
}

select,
option {
	padding: 0.5em 1em;
	border-radius: 0;
	border: 2px solid black;
	background-color: white;
	color: black;
	font-size: 1.5em;
}

select:disabled {
	opacity: 0.2;
	cursor: not-allowed;
}
select:disabled:hover {
	background-color: white;
}

#fusam-addon-manager-container {
	position: absolute;
	height: 92vh;
	width: 96%;
	background-color: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(20px);
	display: flex;
	flex-direction: column;
	padding: 2%;
	color: white;
	font-family: "Roboto", sans-serif;
}

#fusam-addon-manager-container a {
	color: #66b2ff;
}

#fusam-addon-manager-container a:visited {
	color: #6e66ff;
}

#fusam-addon-manager-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

#fusam-addon-manager-body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

#fusam-addon-manager-body > p {
	width: 50em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.fusam-addon-entry {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto;
}

.fusam-addon-entry:nth-child(odd) {
	color: #8fe5ff;
}

.fusam-addon-entry h2 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.fusam-addon-entry-author {
	font-style: italic;
	font-size: 0.8em;
	opacity: 0.8;
	margin-left: 0.5em;
}

.fusam-addon-entry-description {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.fusam-addon-entry-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.fusam-addon-entry-buttons > * {
	margin-right: 1em;
}

.warn {
	color: yellow;
}
.warn:before {
	content: "⚠ ";
}
